<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tracking COVID - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <span style='font-size:50px;'>&#127759;</span>

                </div>
                <div class="sidebar-brand-text mx-3">Tracking COVID</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                COVID Statistics
            </div>



            <!-- Nav Item - Utilities Collapse Menu -->
           
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="index">
                    <i class="fas fa-fw fa-globe"></i>
                    <span>All countries</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="countrydata">
                    <i class="fas fa-fw fa-location-pin-alt"> &#128204; </i>
                    <span>Specific Country</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">




            <!-- Divider -->

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                placeholder="Search for a specific country..." aria-label="Search"
                                aria-describedby="basic-addon2" id="country">
                            <div class="input-group-append">
                                <button class="btn btn-primary" id="searchButton" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>







                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h1 mb-10  text-gray-800">
                            <bold>Dashboard </bold>
                        </h1>
                    </div>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h3 class="h4 mb-0 text-gray-800">Specific Country Search</h3>
                    </div>
                    




                    <!-- Content Row -->
                    <div class="row">


                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" id="date"> </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" id="info">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>New Cases</th>
                                            <th>Total Cases</th>
                                            <th>New Deaths</th>
                                            <th>Total Deaths</th>
                                            <th>Critical State</th>
                                            <th>New Recovered</th>
                                            <th>Total Recovered</th>

                                        </tr>
                                    </thead>

                                    <tbody>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->





            <script type="text/javascript">
                function fetchData(pais) {
                    $.get("http://localhost:8080/api/statistics/" + pais + "/" , function (data) {
                   
                        if (data.length === 0) {
                           alert("This country doens't exist! Try another one")

                        }
                        else {
                            let output = `
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>New Cases</th>
                                            <th>Total Cases</th>
                                            <th>New Deaths</th>
                                            <th>Total Deaths</th>
                                            <th>Critical State</th>
                                            <th>New Recovered</th>
                                            <th>Total Recovered</th>

                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                     
                                        <tr>
                                            <td>${data[0].place}</td>
                                            <td>${data[0].newCases}</td>
                                            <td>${data[0].totalCases}</td>
                                            <td>${data[0].newDeaths}</td>
                                            <td>${data[0].totalDeaths}</td>
                                            <td>${data[0].criticalState}</td>
                                            <td>${data[0].newRecoveries}</td>
                                            <td>${data[0].totalRecoveries}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                  `
                            document.getElementById('info').innerHTML = output;
                        }
                    });

                }


                document.getElementById ("searchButton").onclick = function () {

                    var pais = document.getElementById("country").value;
                    fetchData(pais);

                };
                n =  new Date();
                y = n.getFullYear();
                m = n.getMonth() + 1;
                d = n.getDate();
                document.getElementById("date").innerHTML = d + "/" + m + "/" + y;



            </script>

            <!-- Bootstrap core JavaScript-->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="js/sb-admin-2.min.js"></script>

            <!-- Page level plugins -->
            <script src="vendor/chart.js/Chart.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="js/demo/chart-area-demo.js"></script>
            <script src="js/demo/chart-pie-demo.js"></script>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>

</html>